<div fxFill fxLayoutAlign="center start" fxLayout="column">
    <button mat-button color="primary" (click)="mapClick()">Map</button>
    <button mat-button color="primary" (click)="filterClick()">Filter</button>
    <button mat-button color="primary" (click)="tapClick()">Tap</button>
    <button mat-button color="primary" (click)="takeClick()">Take</button>
    <button mat-button color="primary" (click)="debounceClick()">DebounceTime</button>
    <button mat-button color="primary" (click)="TakeWhile()">Take While</button>
    <button mat-button color="primary" (click)="TakeUntil()">Take Until</button>
     
</div >

<div class="debounce-area" matRipple 
matRippleCentered="true" matRippleColor="rgb(240,166,166,0.4)" 
matRiplleRadius="40">
    
</div>